<div class="container">
  <h2>О нас</h2>
  <div class="content">
    <p>
      Наш интернет-магазин предлагает большой асортимент часов популярных брендов по самым демократичным ценам.<br>
      Наш ассортимен насчитывает более 500 моделей наручных часов от таких производителей как: Hermle
    </p>
    <p>Несмотря на небольшой возраст компании, мы уже успели зарекомендовать себя как надежный и добросовестный поставщик
      часов блогодаря хорошему отношению и индивидуальному подходу к каждому клиенту.
    </p>
    <p>К сожалению, в настоящее время, мы работаем только по г. Новосибирску.</p>
    <p>Наш главный офис находится по адресу г. Новосибирск, ул. Кропотикина 275</p>
  </div>
</div>
