<mat-card *ngFor="let catalogItem of catalogList" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title><a [href]="catalogItem.url">{{catalogItem.title}}</a></mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <img mat-card-image [src]="catalogItem.imgs[0]">
  <mat-card-content>
    <p>
      {{catalogItem.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>В корзину</button>
    <button mat-button [routerLink]="'item/'+catalogItem.id">Подробнее</button>
  </mat-card-actions>
</mat-card>
